@{
    ViewData["Title"] = "Calendar";
}
<div id="calendar"></div>

<partial name="_AddEditAppointment" />
<partial name="_RemoveAppointment" />

@section Scripts{
    <script src="~/js/custom-calender.js"></script>
}

