@{
    ViewData["Title"] = "Calendar";
}
<div id="calendar"></div>
<a href="https://localhost:5001/home/pdf" class="btn pull-right btn-secondary" role="button" aria-pressed="true">PDF</a>

<partial name="_AddEditAppointment" />
<partial name="_RemoveAppointment" />

@section Scripts{
    <script src="~/js/custom-calender.js"></script>
}

