<h2>Beheerders paneel</h2>
<hr />

<partial name="_ChangeRate" />
<hr />

<div style="display: flex; justify-content: space-between; width: 100%;">
    <h3>PDF's:</h3>
    <div>
        <style>
            .pdfBtn:hover {
                text-decoration: underline;
            }
        </style>
        <a asp-controller="Pdf" asp-action="Pdf" class="btn pdfBtn">Afspraken deze week</a>
        <a asp-controller="Pdf" asp-action="PdfAll" class="btn pdfBtn">Alle afspraken</a>
    </div>
</div>
<div class="text-center">
    <a class="btn" asp-action="AddBlockedDate" asp-controller="DateBlocking"><button class="btn btn-success">Geblokeerde datum toevoegen</button></a>
    <a class="btn" asp-action="AllBlockedDates" asp-controller="DateBlocking"><button class="btn btn-success">Alle geblokkeerde datum</button></a>
</div>