<a asp-controller="Pdf" asp-action="Pdf" class="btn pull-right btn-secondary" role="button" aria-pressed="true">Uitdraai calender</a>
<h2>Beheerders paneel</h2>
<hr />


<partial name="_ChangeRate" />