<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="titlecontact">Contact</h1>
            <h2 class="time">Wij zijn 7 dagen per week beschikbaar!</h2>
            <h3 class="contact">
                Telefoonnummer: 012345678<br /><br />
                E-mail: <a href="mailto:0320242@student.rocvantwente.nl">carlo@stallingbentelo.nl </a><br /><br />
                Locatie: 7532SL Enschede, Seizoensweg 6, Nederland
            </h3>
            <h4 class="opening">Onze openingstijden kun je <a asp-action="OpeningHours" asp-controller="Home">hier</a> vinden!</h4>
        </div>
        <div class="col-lg-4">
            <img src="~/img/picto CCSB.png" />
        </div>
    </div>
</div>