<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="titlecontact">Contact</h1>
            <h2 class="time">Wij zijn 7 dagen per week beschikbaar!</h2>
            <h3 class="contact">Telefoonnummer: 012345678<br /><br /> E-mail: carlo@stallingbentelo.nl <br /><br />Locatie: 1324AA, Ergens, Nederland</h3>
            <h4 class="opening">Onze openingstijden kun je <a href="#">hier</a> vinden!</h4>
        </div>
        <div class="col-lg-4">
            <img src="~/img/picto CCSB.png" />
        </div>
    </div>
</div>