<body id="contact">
    <div class="container">
        <div class="textright">
            <h1 class="titlecontact">Contact</h1>
            <h2 class="time">Wij zijn 7 dagen per week beschikbaar!</h2>
            <h3 class="contact">Telefoonnummer: 012345678<br/><br /> E-mail: carlo@stallingbentelo.nl <br/><br />cLocatie: 1324AA, Ergens, Nederland</h3>
            <h4 class="opening">Onze openingstijden kun je hier vinden!</h4>
        </div>
    </div>
</body>
