@inject Microsoft.AspNetCore.Identity.SignInManager<Project_CCSB.Models.ApplicationUser> signInManager
@{
    ViewData["Title"] = "Home";
}
<body id="background">
    <div class="container">
        <div class="textcontainercenter text-center">
            <h1 class="backgroundtitle">Camper of Caravan stallen?</h1>
            <h1 class="backgroundsubtitle">Bekijk onze mogelijkheden!</h1>
            @if (signInManager.IsSignedIn(User) == false)
            {
                <a asp-action="Login" asp-controller="Account" class="btn btn-light">Inloggen</a>
            }
        </div>
    </div>
</body>