<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="titlecontact">Locatie</h1>
            <h2 class="location">Locatie: 7532SL Enschede, Seizoensweg 6, Nederland</h2>
        </div>
    </div>
</div>

<style type="text/css">
    
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script>
    function initMap() {

        const stalling = { lat: 52.225, lng: 6.951 };

        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: stalling,
        });

        const marker = new google.maps.Marker({
          position: stalling,
          map: map,
        });
      }
</script>

<body>
    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBseIGHQWVIkoR8sqF_Ie5TnM3g87LU01g&callback=initMap&libraries=&v=weekly&channel=2"
            async></script>
</body>