<h2>Openingstijden</h2>

<div>
    <p>maandag: 08:00 - 21:00<br />dinsdag: 08:00 - 21:00<br />woensdag: 08:00 - 21:00<br />donderdag: 08:00 - 21:00<br />vrijdag: 08:00 - 21:00<br />zaterdag: 08:00 - 21:00<br />zondag: 12:00 - 21:00<br /></p>
</div>