// Shows openinghours on static page
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="titlecontact">Openingstijden</h1>
            <h2 class="time"> maandag: 08:00 - 21:00<br />dinsdag: 08:00 - 21:00<br />woensdag: 08:00 - 21:00<br />donderdag: 08:00 - 21:00<br />vrijdag: 08:00 - 21:00<br />zaterdag: 08:00 - 21:00<br />zondag: 12:00 - 21:00<br /></h2>
        </div>
        <div class="col-lg-4">
            <img src="~/img/picto CCSB.png" />
        </div>
    </div>
</div>