<script src="https://kit.fontawesome.com/7b26c4ba3b.js" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="titlecontact">Opslag</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="container border border-dark">
            <i class="fas fa-caravan"></i>
            <h2 class="camper text-center">Camper stalling</h2>
            <div class="text-center">
                <p>Klik <a asp-controller="Appointment" asp-action="Index">hier</a> om uw camper te stallen</p>
            </div>
        </div>

        <div class="container border border-dark">
            <i class="fas fa-caravan"></i>
            <h3 class="caravan text-center">Caravan stalling</h3>
            <div class="text-center">
                <p>Klik <a asp-controller="Appointment" asp-action="Index">hier</a> om uw caravan te stallen</p>
            </div>
        </div>

    </div>
</div>