<div class="popUpDeleteVehicleBackground" hidden>
    <div class="popUpDeleteVehicle">
        <h3>Weet je zeker dat je dit<br />voertuig wilt verwijderen?</h3>
        <p>Dit is niet terug te draaien!</p>
        <div class="popUpDeleteVehicleButtonDiv">
            <button class="btn deleteVehicleConfirm">JA</button>
            <button class="btn" onclick="PopUpRemove()">NEE</button>
        </div>
    </div>
</div>

<style>
    .popUpDeleteVehicleBackground {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.5);
    }

    .popUpDeleteVehicle {
        display: block;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        background: lightgray;
        padding: 1.5rem;
        border: 0.1rem solid #000;
        border-radius: 0.2rem;
    }

    .popUpDeleteVehicleButtonDiv {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .popUpDeleteVehicleButtonDiv button {
        outline: 0;
        height: 100%;
        border: 0.1rem solid #000;
        width: 40%;
    }
    .popUpDeleteVehicleButtonDiv button:hover {
        background: black;
        color: white;
    }
</style>

<script>
    function PopUpShow(licensePlate) {
        $(".popUpDeleteVehicleBackground").attr("hidden", false);

        $(".deleteVehicleConfirm").on("click", () => {
            Delete(licensePlate);
            PopUpRemove();
        });
    }
    function PopUpRemove() {
        $(".popUpDeleteVehicleBackground").attr("hidden", true);
    }
</script>