@model string

<div class="popUpDeleteBackground" hidden>
    <div class="popUpDelete">
        <h3>Weet je zeker dat je dit<br />voertuig wilt verwijderen?</h3>
        <p>Dit is niet terug te draaien!</p>
        <div class="popUpDeleteButtonDiv">
            <button class="btn deleteConfirm">JA</button>
            <button class="btn" onclick="PopUpRemove()">NEE</button>
        </div>
    </div>
</div>

<style>
    .popUpDeleteBackground {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.5);
    }

    .popUpDelete {
        display: block;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        background: lightgray;
        padding: 1.5rem;
        border: 0.1rem solid #000;
        border-radius: 0.2rem;
    }

    .popUpDeleteButtonDiv {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .popUpDeleteButtonDiv button {
        outline: 0;
        height: 100%;
        border: 0.1rem solid #000;
        width: 40%;
    }
    .popUpDeleteButtonDiv button:hover {
        background: black;
        color: white;
    }
</style>

<script>
    function PopUpShow(licensePlate) {
        $(".popUpDeleteBackground").attr("hidden", false);

        $(".deleteConfirm").on("click", () => {
            @string.Format("{0}(licensePlate);", Model)
            PopUpRemove();
        });
    }
    function PopUpRemove() {
        $(".popUpDeleteBackground").attr("hidden", true);
    }
</script>