@inject Microsoft.AspNetCore.Identity.SignInManager<Project_CCSB.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
<ul class="navbar-nav mr-auto">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Beheerder")) //Checks if the user is 'beheerder'
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a id="registerLink" class="nav-link" asp-action="Register" asp-controller="Account">Registreren</a>
            </li>
            <li>
                <a id="registerLink" class="nav-link" asp-action="#" asp-controller="#">Reserveringen</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Voertuigen</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="AllVehicles">Alle voertuigen</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="AddVehicle">Voertuig aanmaken</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Informatie</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Openingstijden</a>
                    <a class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Opslag</a>
                    <a class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Locatie</a>
                    <a class="dropdown-item" asp-area="" asp-controller="home" asp-action="contact">Contact</a>
                </div>
            </li>
        }

        @if (User.IsInRole("Gebruiker")) //Checks if the user is 'gebruiker'
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a id="registerLink" class="nav-link" asp-action="#" asp-controller="#">Reserveringen</a>
            </li>
            <li>
                <a id="registerLink" class="nav-link" asp-action="MyVehicles" asp-controller="Vehicle">Voertuigen</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Informatie</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Openingstijden</a>
                    <a class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Opslag</a>
                    <a class="dropdown-item" asp-area="" asp-controller="#" asp-action="#">Locatie</a>
                    <a class="dropdown-item" asp-area="" asp-controller="home" asp-action="contact">Contact</a>
                </div>
            </li>
        }
    }

</ul>
<div>
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account" class="form-inline">
        <ul class="nav navbar-nav">
            <li class="nav-link">Welkom, @User.Identity.Name</li>
            <li>
                <button type="submit" class="btn btn-outline-dark">Uitloggen</button>
            </li>
        </ul>
    </form>
</div>
}

else
{
<ul class="nav navbar-nav">
    <li>
        <a id="loginLink" class="nav-link" asp-action="" asp-controller="Home">Home</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="Login" asp-controller="Account">Inloggen</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="#" asp-controller="#">Openingstijden</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="#" asp-controller="#">Opslag</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="#" asp-controller="#">Locatie</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="contact" asp-controller="home">Contact</a>
    </li>
</ul>
}