@inject Microsoft.AspNetCore.Identity.SignInManager<Project_CCSB.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
<ul class="navbar-nav mr-auto">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole(Helper.Admin)) //Checks if the user is 'beheerder'
        {
            <partial name="Navbar/_NavbarAdmin" />
        }

        @if (User.IsInRole(Helper.User)) //Checks if the user is 'gebruiker'
        {
            <partial name="Navbar/_NavbarUser" />
        }
    }

</ul>
<div>
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account" class="form-inline">
        <ul class="nav navbar-nav">
            <li><a class="nav-link" asp-action="Profile" asp-controller="Account">Welkom, @User.Identity.Name</a></li>
            <li>
                <button type="submit" class="btn btn-outline-dark">Uitloggen</button>
            </li>
        </ul>
    </form>
</div>
}

else
{
<ul class="nav navbar-nav">
    <li>
        <a id="loginLink" class="nav-link" asp-action="" asp-controller="Home">Home</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="Login" asp-controller="Account">Inloggen</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="OpeningHours" asp-controller="Home">Openingstijden</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="Storage" asp-controller="Home">Opslag</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="Location" asp-controller="Home">Locatie</a>
    </li>
    <li>
        <a id="loginLink" class="nav-link" asp-action="contact" asp-controller="home">Contact</a>
    </li>
</ul>
}