@model Project_CCSB.Models.ViewModels.ChangePasswordViewModel

<h2>Registreren</h2>
<form method="post" asp-action="ChangePassWord" asp-controller="Account">
    <h4>Wachtwoord veranderen</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="OldPassWord"></label>
        <div class="col-md-10">
            <input asp-for="OldPassWord" class="form-control" />
            <span asp-validation-for="OldPassWord" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="NewPassWord"></label>
        <div class="col-md-10">
            <input asp-for="NewPassWord" class="form-control" />
            <span asp-validation-for="NewPassWord" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="NewPassWordConfirm"></label>
        <div class="col-md-10">
            <input asp-for="NewPassWordConfirm" class="form-control" />
            <span asp-validation-for="NewPassWordConfirm" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Verander" class="btn btn-success" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}