@model Project_CCSB.Models.ApplicationUser

<h2>Jouw profiel</h2>
<div class="container">
    <div class="row">
        <p class="col">Naam</p>
        <p class="col">@Model.FullName</p>
    </div>
    <div class="row">

    </div>

</div>