/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Begin Extra CSS -Lucas
-------------------------------------------------- */
#background {
    background-repeat: no-repeat;
    background-size: cover;
    background: url('../img/background.jpg') rgba(0, 0, 0, 0.4); /*Black background overlay with 0.4 opacity*/
    background-blend-mode: multiply;
}

h1.backgroundtitle {
    color: white;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 80px;
}

h1.backgroundsubtitle {
    margin-top: -20px;
    color: white;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 50px;
}
.textcontainercenter {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*--------------------------------------------------
    End Extra CSS -Lucas*/

/* Begin Extra CSS -Bram
-------------------------------------------------- */

#contact {
    font-family: 'Segoe UI';
}

h1.titlecontact {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

h2.time {
    margin-bottom: 100px;
}

h3.contact {
    margin-bottom: 125px;
}

a:link {
    color: black;   
}

/*--------------------------------------------------
    End Extra CSS -Bram*/