@model Project_CCSB.Models.ViewModels.BlockedDates

<h2>Alle geblokeerde datums</h2>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Verwijderen</th>
            </tr>
        </thead>
        @foreach (var blockeddate in ViewBag.AllBlockedDates)
        {
            <tr>
                <td>@blockeddate.SelectedDateToBeBlocked.ToString("dd MMMM yyyy")</td>
                <td class="col-1"><button class="btn" onclick="PopUpShow('f')">X</button></td>
            </tr>
        }
    </table>
</div>
@await Html.PartialAsync("_ConfirmPopUp", "DeleteBlockedDate")
<scripts src="js/dateblocking.js"></scripts>