@model Project_CCSB.Models.ViewModels.BlockedDates

<h2>Alle geblokeerde datums</h2>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Verwijder</th>
            </tr>
        </thead>
        @foreach (var blockeddate in ViewBag.AllBlockedDates)
        {
    <tr>

        <td>@blockeddate.SelectedDateToBeBlocked.ToString("dd MMMM yyyy")</td>
        <td class="col-1"><button class="btn" onclick="">X</button></td>
    </tr>
        }
    </table>
</div>