@model Project_CCSB.Models.ViewModels.VehicleViewModel

<h2>Voertuig</h2>
<form method="post" asp-action="AddVehicle" asp-controller="Vehicle">
    <h4>Nieuw voertuig</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="LicensePlate"></label>
        <div class="col-md-10">
            <input asp-for="LicensePlate" class="form-control" />
            <span asp-validation-for="LicensePlate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Type"></label>
        <div class="col-md-10">
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Brand"></label>
        <div class="col-md-10">
            <input asp-for="Brand" class="form-control" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Length"></label>
        <div class="col-md-10">
            <input asp-for="Length" class="form-control" />
            <span asp-validation-for="Length" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Power"></label>
        <div class="col-md-10">
            <select asp-for="Power"
                    asp-items="@Project_CCSB.Models.Helper.GetYesOrNo()"
                    class="form-control">
                <option selected>Kies ja of nee</option>
            </select>
            <span asp-validation-for="Power" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Toevoegen" class="btn btn-success" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <a asp-action="Login">Login</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}