@model Project_CCSB.Models.ViewModels.VehicleViewModel

<h2>Voertuig</h2>
    <h4>Nieuw voertuig</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="LicensePlate"></label>
        <div class="col-md-10">
            <input asp-for="LicensePlate" id="inputLicensePlate" class="form-control" />
            <span asp-validation-for="LicensePlate" id="licensePlateError" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Type"></label>
        <div class="col-md-10">
            <select asp-for="Type"
                    asp-items="@Project_CCSB.Models.Helper.GetVehicleType()"
                    id="inputType"
                    class="form-control">
                <option selected>Kies caravan of camper</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Brand"></label>
        <div class="col-md-10">
            <input asp-for="Brand" id="inputBrand" class="form-control" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Length"></label>
        <div class="col-md-10">
            <input asp-for="Length" id="inputLength" class="form-control" />
            <span asp-validation-for="Length" id="errorLength" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Power"></label>
        <div class="col-md-10">
            <select asp-for="Power"
                    asp-items="@Project_CCSB.Models.Helper.GetYesOrNo()"
                    id="inputPower"
                    class="form-control">
                <option selected>Kies ja of nee</option>
            </select>
            <span asp-validation-for="Power" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="User"></label>
        <div class="col-md-10">
            <select asp-for="User"
                    asp-items="@ViewBag.UserList"
                    id="inputUser"
                    class="form-control">
                <option selected>Kies een gebruiker</option>
            </select>
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Toevoegen" onclick="OnSubmit()" class="btn btn-success" />
        </div>
    </div>
<script>
    function OnSubmit() {
        RemoveErrorTexts();

        var length = $("#inputLength").val();
        if (!Validate(length)) return;

        var licensePlate = $("#inputLicensePlate").val();
        if (!CheckLicensePlate(licensePlate)) return;

        length = length.replace(".", ","); // Change the . to a ,

        var routeURL = location.protocol + "//" + location.host;
        var data = {
            LicensePlate: $("#inputLicensePlate").val(),
            Type: $("#inputType").val(),
            Brand: $("#inputBrand").val(),
            Length: length,
            Power: $("#inputPower").val(),
            User: $("#inputUser").val()
        }

        $.ajax({
            url: routeURL + "/api/VehicleApi/SaveVehicle",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
                console.log(response);
                if (response.status == 1) {
                    $("#licensePlateError").text("Dit kenteken bestaat al");
                } else {
                    window.location = routeURL + "/Vehicle/AllVehicles";
                }
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }

    function Validate(length) {
        length = length.replace(",", ".");
        if (isNaN(length)) {
            $("#errorLength").text("Lengte is geen nummer");
            return false;
        }

        return true;
    }

    function CheckLicensePlate(licensePlate) {
        var licensePlateFormat = licensePlate.replace(/-/g, '').toUpperCase();

        var licensePlateRegexes = [
            /^([A-Z]{2})(\d{2})(\d{2})$/,       // 1     XX-99-99    (since 1951)
            /^(\d{2})(\d{2})([A-Z]{2})$/,       // 2     99-99-XX    (since 1965)
            /^(\d{2})([A-Z]{2})(\d{2})$/,       // 3     99-XX-99    (since 1973)
            /^([A-Z]{2})(\d{2})([A-Z]{2})$/,    // 4     XX-99-XX    (since 1978)
            /^([A-Z]{2})([A-Z]{2})(\d{2})$/,    // 5     XX-XX-99    (since 1991)
            /^(\d{2})([A-Z]{2})([A-Z]{2})$/,    // 6     99-XX-XX    (since 1999)
            /^(\d{2})([A-Z]{3})(\d{1})$/,       // 7     99-XXX-9    (since 2005)
            /^(\d{1})([A-Z]{3})(\d{2})$/,       // 8     9-XXX-99    (since 2009)
            /^([A-Z]{2})(\d{3})([A-Z]{1})$/,    // 9     XX-999-X    (since 2006)
            /^([A-Z]{1})(\d{3})([A-Z]{2})$/,    // 10    X-999-XX    (since 2008)
            /^([A-Z]{3})(\d{2})([A-Z]{1})$/,    // 11    XXX-99-X    (since 2015)
            /^([A-Z]{1})(\d{2})([A-Z]{3})$/,    // 12    X-99-XXX
            /^(\d{1})([A-Z]{2})(\d{3})$/,       // 13    9-XX-999
            /^(\d{3})([A-Z]{2})(\d{1})$/,       // 14    999-XX-9
            /^(\d{3})(\d{2})([A-Z]{1})$/,       // 15    999-99-X
            /^([A-Z]{3})(\d{2})(\d{1})$/,       // 16    XXX-99-9
            /^([A-Z]{3})([A-Z]{2})(\d{1})$/,    // 17    XXX-XX-9
        ];

        for (var i in licensePlateRegexes) {

            if (licensePlateFormat.match(licensePlateRegexes[i])) {
                return true;
            }
        }
        $("#licensePlateError").text("Dit is geen geldig kenteken");
        return false;
    }

    function RemoveErrorTexts() {
        $("#licensePlateError").text("");
        $("#errorLength").text("");
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}